{%extends "layout.html" %}
{% block title %} Hi, Please register on my website {% endblock %}
{% block action %} <form action= "{{ url_for('engines') }}", method="POST">
	<div style="margin-left: 10px"><input type="text" name="username" placeholder="your username">
	<p class="form"><input type="text" name="pass" placeholder="your password"></p>
	<p class="form"><input type="text" name="name" placeholder="your name"></p>
	<p class="form"><input type="text" name="writer" placeholder="your favorite writer"></p>
	<p class="form"><input type="submit"></p> </div>{% endblock %}
